<%- include('partials/header'); -%>

    <div id="dashboardHeader">
        <h1>
            <% if (locals.user != null ) { %>
                Welcome, <%= user.email %>.
                    <% } %>
        </h1>
        <h2>This is your dashboard</h2>
    </div>
    </body>

    </html>