
<body>

    <h3>
        Sign in, or sign up
    </h3>
    <form>
        <div class="btn-div">
            <button type="submit" formaction="/auth/signin">Sign In</button>
        </div>
        <div class="btn-div">
            <button type="submit" formaction="/auth/signup">Sign Up</button>
        </div>
    </form>

</body>

</html>