<%- include('partials/header'); -%>

    <h3>
        <% if (locals.user != null ) { %>
            Welcome, <%= user.email %>.
                <% } %>
                    <% if (notSignedIn) { %>
                        You need to be signed in to view your dashboard. <br><br>
                        <% } %>
                            Please enter your details to sign in...
    </h3>

    <form action="/auth/signin" method="POST" name="signup">
        <% if (message) { %>
            <div class='error'><%= message %></div>
        <% } %>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Password (min 6 characters)</label>
        <input type="password" id="password" name="password" required pattern="^.{6,25}$"><br>
        <button>Sign In</button>
    </form>

    </body>

</html>